:root {
  --border-color: #dadddf;
  --main-color: #0f1419;
  --color-2: #536471;
}

.main-color {
  color: var(--main-color);
}

.color-2 {
  color: var(--color-2);
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 17.58px;
  height: 100vh;
  font-family: Roboto;
  font-size: 15px;
}

.tweet {
  width: 591px;
  border: 1px solid var(--border-color);
  display: flex;
}

.profile-picture {
  width: 48;
  height: 48;
  padding: 17px 12px 0px 17px;
}

.tweet-info {
  display: flex;
  height: 18px;
  padding-top: 17px;
  font-weight: 400;
}

.user-name {
  font-weight: 700;
}

.verified-icon {
  margin-right: 6px;
  margin-left: 3px;
  width: 15px;
  height: 15px;
}

.separator-mark {
  margin-left: 4px;
  margin-right: 4px;
  line-height: 12px;
  font-size: 12px;
}

.tweet-text-box{
  padding: 5px 84px 15px 0;
}

.tweet-metrics{
  display: flex;
  justify-content: space-between;
  padding-right: 84px;
}

.metric-info{
  display: flex;
  margin-bottom: 19px;
  line-height: 15px;
}

.metrics-text{
  font-size: 13px;
}

.metric-icon{
  margin-right: 18px;
}